body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    background-color:#ffffff;
    margin: 0;
}
.container, .events-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    max-width: 1200px;
    width: 100%;
    padding: 20px;
    
}
.container {
    margin-top: 20px;
}
.box, .event-box {
    background-color: #D5DEEF;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
}
.box:hover, .event-box:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}
.box:nth-child(1) {
    background-color: #D5DEEF;
}
.box:nth-child(2) {
    background-color: #D5DEEF;
}
.box:nth-child(3) {
    background-color: #D5DEEF;
}
.box:nth-child(4) {
    background-color: #D5DEEF;
}

h2, h3 {
    margin-top: 50;
    color: #395886;
}
hr {
    border: 0;
    border-top: 2px solid #333;
    margin: 10px 0 20px;
}
.box img, .event-box img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
    vertical-align: middle;
    transition: transform 0.3s;
}
.events-container {
    grid-template-columns: repeat(3, 1fr);
    margin-top: 40px;
}
.event-box img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 15px;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}
.event-box img:hover {
    transform: scale(1.1);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}
.event-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align:center;
}
.event-box h3 {
    margin: 10px 0;
    font-family:'Times New Roman', Times, serif ;
}
.event-box p {
    margin: 0;
    padding: 0 10px;
    font-family:'Times New Roman', Times, serif ;
    font-size: large;
}
.box p,ul {
    margin: 0;
    padding: 0 1px;
    font-family:'Times New Roman', Times, serif ;
    font-size: large;

}

